body{
    background-color: #282828;
}
h1{
font-size: 30px;
color: #E8D8D4;
}
h2{
color: #E8D8D4;
font-size: 20px;
}
.big{
font-size: 60px;
}
.uppercase{
text-transform: uppercase;
}
.big.uppercase{
color:#DFFF00;
}
h1 span{
color: #3500D3;
}